/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-image: url(images/cover.jpeg);
  .container .jumbotron {
padding-right: 60px;
padding-left: 60px;
}
.container .jumbotron {
border-radius: 6px;
}
.jumbotron {
text-align: center;
border-bottom: 1px solid #e5e5e5;
background-image: url(images/cover.jpeg);
}
@media screen and (min-width: 768px)
.jumbotron {
padding-top: 48px;
padding-bottom: 48px;
}
.jumbotron {
padding: 30px;
margin-bottom: 30px;
font-size: 21px;
font-weight: 200;
line-height: 2.1428571435;
color: inherit;
background-color: #eeeeee;
display: block;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 1.428571429;
color: #333333;
background-color: #ffffff;
font-size: 62.5%;
font-family: sans-serif;
background-image: url(styles/images/cover.jpeg);
border-bottom-color: rgb(229, 229, 229);
font-weight: 200;
height: 589px;
line-height: 45px;
margin-bottom: 30px;
padding-bottom: 48px;
padding-left: 60px;
padding-right: 60px;
padding-top: 48px;
text-align: center;
width: 700px;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.nav li {
  display: inline;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
}
.ng-invalid.ng-dirty {
border-color: red;
}

.ng-valid.ng-dirty {
border-color: green;
}

.btn {
  border-radius: 50px;
}

